@use './common.scss'as *;

#wrap {
    header {
        @include flex-row;
        @include flex-center; justify-content: start;
        padding: 12px 40px;
        margin: 0 80px;
        .logo {
            a {}
        }
        nav {
            padding-left:50px;
            ul {
                @include flex-row;
                gap: 25px;
                li {}
            }
        }
    }
    main {
        width:100vw;
        .main_view{
            max-width:1680px;
            @include flex-row;
            gap: 50px;
            margin: 0 auto ;
            padding: 50px 40px;
            .left_contents {
                @include flex-col;
                gap: 30px;
                .overview {
                    width:860px;
                    position: relative;
                    overflow: hidden;
                    .ovview {
                        @include flex-row;
                        width:calc(860px * 7);
                        .overview_img{
                            display: block;
                            width: 860px; height:860px;
                            img {@include parcents100;border-radius:20px;}
                        }
                    }
                    .left_arrow_btn {
                        @include left_right_arrow_btn;
                        left:-55px;
                        &:hover .left_arrow{
                            transform: translateX(-4px);
                            transition: transform 0.2s;
                        }
                        .left_arrow{transition: transform 0.2s;}
                        &::after {
                            @include arrow_after;
                            left:20px; top:23px;
                            transform-origin:left;
                        }
                        &:hover::after {
                                left:18px;
                                transform :scaleX(1);
                                transition: transform 0.2s;
                        }
                    }
                    .right_arrow_btn {
                        @include left_right_arrow_btn;
                        right: -55px;
                        &:hover .right_arrow{
                            transform: translateX(4px);
                            transition: transform 0.2s;
                        }
                        .right_arrow{transition: transform 0.2s;}
                        &::after {
                            @include arrow_after;
                            right:19px; top:23px;
                            transform-origin:right;
                        }
                        &:hover::after {
                                right:18px;
                                transform :scaleX(1);
                                transition: transform 0.2s;
                        }
                    }
                }
                .thumnail {
                    @include flex-row;
                    gap:10px; 
                    .thum_img {
                        position: relative;
                        width:100px;height:100px;
                        img {@include parcents100;border-radius: 10px;}
                        &::after {
                            content: '';
                            bottom: -7px; left:50px;
                            transform: translate(-50px) scaleX(0) ;
                            position: absolute;
                            background-color: $color-black;
                            content:''; height:2px; width:100px;
                            transition: transform 0.3s ease;
                        }
                        &.active::after {  
                            transform: translateX(-50px) scaleX(1);
                        }
                    }
                }
            }
            .right_contents {
                width:calc(  100% - 860px);
                /* @include flex-col; */
                .product_state {
                    margin-bottom: 12px;
                    .state_1 {
                        @include state;
                        background-color: $color-point1;
                    }
                    .state_2{
                        @include state;
                        background-color: $color-point2;
                    }
                }
                .product_name_desc {
                    margin-bottom: 10px;
                    .product_name {
                        margin-bottom: 10px;
                        font-size:$font-size-30;
                        font-weight: $font-weight-semibold;
                    }
                    .product_desc {
                        font-size:$font-size-17;
                        color:$color-light-gray-lv1;
                    }
                }
                .product_price_capacity {
                    margin-bottom: 30px;
                    @include flex-row;
                    align-items: center; gap:10px;
                    .product_price {
                        font-size:$font-size-23;
                        font-weight: $font-weight-semibold;
                    }
                    .product_capacity {
                        color:$color-light-gray-lv1;
                        font-size: $font-size-14;
                    }
                }
                .product_quantity {
                    margin-bottom: 30px;
                    >p {font-weight: $font-weight-semibold;padding-bottom: 8px;}
                    .quantity_btn {
                        @include flex-row;
                        width:max-content;
                        .minus {
                            padding:10px 11px;
                            border-radius: 30px 0 0 30px;
                            background-color: $color-black
                        }
                        #quantity_num {
                            padding:0 5px;
                            width:44px; height:48px;
                            background-color: $color-black;
                            color:$color-white;text-align: center;
                        }
                        .plus {
                            border-radius: 0 30px 30px 0;
                            background-color: $color-black;
                            padding: 10px 11px;
                        }
                    }
                }
                .product_option {
                    margin-bottom: 10px;
                    .input_select {
                            appearance: none; 
                            transform: translateY(6px);
                            @include bg;
                            content: ''; width:24px;height:24px;
                            background-image: url(../images/radio_button_unchecked.png);
                            display:inline-block;
                            margin: right 4px;
                            &:checked {
                                background-image:url(../images/radio_button_checked.png)
                            }
                    }
                    .option_input {
                        transform: translateY(-4px);
                    }
                    .product_option_header {
                        @include opt_header;
                        @include flex-row; justify-content: space-between;
                        .product_option_input {}
                        .price_usd {color:$color-light-gray-lv2;}
                    }
                    .product_option_main {
                        @include opt_main;
                        .sub_price{
                            margin-bottom:20px;
                            @include flex-row; justify-content: space-between;
                            .subscribe {color:$color-light-gray-lv2;}
                            .price_usd {color:$color-light-gray-lv2;}
                        }
                        .product_option_input {
                            @include flex-col;
                            gap: 8px;
                        }
                    }
                }
                .subscribe_description {
                    margin-bottom: 30px;
                    a {border-bottom: 1px solid $color-black;}
                }
                .cart_wishlist_btn {
                    margin-bottom: 30px;
                    .cart {
                        .cart_btn {
                            margin-bottom: 10px;
                            background-color: $color-black;
                            color:$color-white;
                            @include cart_wish_btn;
                        }
                    }
                    .wishlist {
                        .wishlist_btn{
                            @include flex-row; @include flex-center;
                            @include cart_wish_btn;
                            background-color: $color-white;
                            .wish_heart path {
                                fill: none;
                                stroke:$color-black;
                            }
                            &.active {
                                .wish_heart path {
                                    fill: $color-black;
                                    stroke: $color-black;
                                }
                            }
                        }
                    }
                }
                .product_description_list {
                    dt {
                        .desc_btn{
                            display:flex;
                            padding:16px 0;
                            width:100%;
                            position: relative;
                            span::after{
                                background:#0000001a ;
                                position: absolute;
                                content: ''; display: inline-block;
                                width:30px;height:30px;
                                right:10px;top:50%;
                                transform: translateY(-50%) scale(0);
                                border-radius: 14px; 
                                transition : transform 0.2s;
                            }
                            &:hover span::after{
                                transform:translateY(-50%)scale(1);
                                transition : transform 0.2s;
                            }
                            span{@include desc_dt;}
                            .arrow{position: absolute; right:15px;top:50%;transform: translateY(-50%);}
                        }
                    }
                    dd {
                        display: none;
                        opacity: 0;
                        &.active {
                            display: block;
                            opacity: 1;
                            line-height: 150%;
                            padding-bottom: 24px;
                        }
                    }
                    width:100%;
                    .desc_summary {
                        border-top: 1px solid $color-light-gray-lv2;
                        dt {
                            .desc_btn {}
                        }
                        dd{ 
                        }
                        .arrow {}
                    }
                    .desc_benefits {
                        border-top: 1px solid $color-light-gray-lv2;
                        dt {
                            .desc_btn {
                                span{}
                            }
                        }
                        .arrow {}
                    }
                    .desc_ingredients {
                        border-top: 1px solid $color-light-gray-lv2;
                        dt {
                            .desc_btn {
                                span{}
                            }
                        }
                        .arrow {}
                    }
                    .desc_how {
                        border-top: 1px solid $color-light-gray-lv2;
                        border-bottom: 1px solid $color-light-gray-lv2;
                        dt {
                            .desc_btn {
                                span{}
                            }
                        }
                        .arrow {}
                    }
                }
            }
        }
    }
    footer {}
}