#wrap header {
  display: flex;
  flex-flow: row nowrap;
  justify-content: center;
  align-items: center;
  justify-content: start;
  padding: 12px 40px;
  margin: 0 80px;
}
#wrap header nav {
  padding-left: 50px;
}
#wrap header nav ul {
  display: flex;
  flex-flow: row nowrap;
  gap: 25px;
}
#wrap main {
  width: 100vw;
}
#wrap main .main_view {
  max-width: 1680px;
  display: flex;
  flex-flow: row nowrap;
  gap: 50px;
  margin: 0 auto;
  padding: 50px 40px;
}
#wrap main .main_view .left_contents {
  display: flex;
  flex-flow: column nowrap;
  gap: 30px;
}
#wrap main .main_view .left_contents .overview {
  width: 860px;
  position: relative;
  overflow: hidden;
}
#wrap main .main_view .left_contents .overview .ovview {
  display: flex;
  flex-flow: row nowrap;
  width: 6020px;
}
#wrap main .main_view .left_contents .overview .ovview .overview_img {
  display: block;
  width: 860px;
  height: 860px;
}
#wrap main .main_view .left_contents .overview .ovview .overview_img img {
  width: 100%;
  height: 100%;
  border-radius: 20px;
}
#wrap main .main_view .left_contents .overview .left_arrow_btn {
  background-color: #fff;
  box-shadow: 0 0 8px rgba(0, 0, 0, 0.2);
  width: 48px;
  height: 48px;
  border-radius: 24px;
  position: absolute;
  top: 400px;
  left: -55px;
}
#wrap main .main_view .left_contents .overview .left_arrow_btn:hover .left_arrow {
  transform: translateX(-4px);
  transition: transform 0.2s;
}
#wrap main .main_view .left_contents .overview .left_arrow_btn .left_arrow {
  transition: transform 0.2s;
}
#wrap main .main_view .left_contents .overview .left_arrow_btn::after {
  transform: scaleX(0);
  transition: transform 0.2s ease;
  background-color: #000;
  content: "";
  width: 17px;
  height: 2px;
  display: block;
  position: absolute;
  left: 20px;
  top: 23px;
  transform-origin: left;
}
#wrap main .main_view .left_contents .overview .left_arrow_btn:hover::after {
  left: 18px;
  transform: scaleX(1);
  transition: transform 0.2s;
}
#wrap main .main_view .left_contents .overview .right_arrow_btn {
  background-color: #fff;
  box-shadow: 0 0 8px rgba(0, 0, 0, 0.2);
  width: 48px;
  height: 48px;
  border-radius: 24px;
  position: absolute;
  top: 400px;
  right: -55px;
}
#wrap main .main_view .left_contents .overview .right_arrow_btn:hover .right_arrow {
  transform: translateX(4px);
  transition: transform 0.2s;
}
#wrap main .main_view .left_contents .overview .right_arrow_btn .right_arrow {
  transition: transform 0.2s;
}
#wrap main .main_view .left_contents .overview .right_arrow_btn::after {
  transform: scaleX(0);
  transition: transform 0.2s ease;
  background-color: #000;
  content: "";
  width: 17px;
  height: 2px;
  display: block;
  position: absolute;
  right: 19px;
  top: 23px;
  transform-origin: right;
}
#wrap main .main_view .left_contents .overview .right_arrow_btn:hover::after {
  right: 18px;
  transform: scaleX(1);
  transition: transform 0.2s;
}
#wrap main .main_view .left_contents .thumnail {
  display: flex;
  flex-flow: row nowrap;
  gap: 10px;
}
#wrap main .main_view .left_contents .thumnail .thum_img {
  position: relative;
  width: 100px;
  height: 100px;
}
#wrap main .main_view .left_contents .thumnail .thum_img img {
  width: 100%;
  height: 100%;
  border-radius: 10px;
}
#wrap main .main_view .left_contents .thumnail .thum_img::after {
  content: "";
  bottom: -7px;
  left: 50px;
  transform: translate(-50px) scaleX(0);
  position: absolute;
  background-color: #000;
  content: "";
  height: 2px;
  width: 100px;
  transition: transform 0.3s ease;
}
#wrap main .main_view .left_contents .thumnail .thum_img.active::after {
  transform: translateX(-50px) scaleX(1);
}
#wrap main .main_view .right_contents {
  width: calc(100% - 860px);
  /* @include flex-col; */
}
#wrap main .main_view .right_contents .product_state {
  margin-bottom: 12px;
}
#wrap main .main_view .right_contents .product_state .state_1 {
  padding: 2px 8px;
  color: #fff;
  font-size: 0.875rem;
  border-radius: 3px;
  background-color: #2E68BF;
}
#wrap main .main_view .right_contents .product_state .state_2 {
  padding: 2px 8px;
  color: #fff;
  font-size: 0.875rem;
  border-radius: 3px;
  background-color: #35A8F1;
}
#wrap main .main_view .right_contents .product_name_desc {
  margin-bottom: 10px;
}
#wrap main .main_view .right_contents .product_name_desc .product_name {
  margin-bottom: 10px;
  font-size: 1.875rem;
  font-weight: 600;
}
#wrap main .main_view .right_contents .product_name_desc .product_desc {
  font-size: 1.063rem;
  color: #636363;
}
#wrap main .main_view .right_contents .product_price_capacity {
  margin-bottom: 30px;
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
  gap: 10px;
}
#wrap main .main_view .right_contents .product_price_capacity .product_price {
  font-size: 1.438rem;
  font-weight: 600;
}
#wrap main .main_view .right_contents .product_price_capacity .product_capacity {
  color: #636363;
  font-size: 0.875rem;
}
#wrap main .main_view .right_contents .product_quantity {
  margin-bottom: 30px;
}
#wrap main .main_view .right_contents .product_quantity > p {
  font-weight: 600;
  padding-bottom: 8px;
}
#wrap main .main_view .right_contents .product_quantity .quantity_btn {
  display: flex;
  flex-flow: row nowrap;
}
#wrap main .main_view .right_contents .product_quantity .quantity_btn .minus {
  padding: 10px 11px;
  border-radius: 30px 0 0 30px;
  background-color: #000;
}
#wrap main .main_view .right_contents .product_quantity .quantity_btn #quantity_num {
  padding-left: 15px;
  width: 44px;
  height: 48px;
  background-color: #000;
  color: #fff;
}
#wrap main .main_view .right_contents .product_quantity .quantity_btn .plus {
  border-radius: 0 30px 30px 0;
  background-color: #000;
  padding: 10px 11px;
}
#wrap main .main_view .right_contents .product_option {
  margin-bottom: 10px;
}
#wrap main .main_view .right_contents .product_option .input_select {
  appearance: none;
  transform: translateY(6px);
  background-repeat: no-repeat;
  background-size: contain;
  content: "";
  width: 24px;
  height: 24px;
  background-image: url(../images/radio_button_unchecked.png);
  display: inline-block;
  margin: right 4px;
}
#wrap main .main_view .right_contents .product_option .input_select:checked {
  background-image: url(../images/radio_button_checked.png);
}
#wrap main .main_view .right_contents .product_option .option_input {
  transform: translateY(-4px);
}
#wrap main .main_view .right_contents .product_option .product_option_header {
  padding: 16px 24px;
  border: 1px solid #6D7175;
  border-radius: 20px 20px 0 0;
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
}
#wrap main .main_view .right_contents .product_option .product_option_header .price_usd {
  color: #6D7175;
}
#wrap main .main_view .right_contents .product_option .product_option_main {
  padding: 16px 24px;
  border-bottom: 1px solid #6D7175;
  border-left: 1px solid #6D7175;
  border-right: 1px solid #6D7175;
  border-radius: 0 0 20px 20px;
}
#wrap main .main_view .right_contents .product_option .product_option_main .sub_price {
  margin-bottom: 20px;
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
}
#wrap main .main_view .right_contents .product_option .product_option_main .sub_price .subscribe {
  color: #6D7175;
}
#wrap main .main_view .right_contents .product_option .product_option_main .sub_price .price_usd {
  color: #6D7175;
}
#wrap main .main_view .right_contents .product_option .product_option_main .product_option_input {
  display: flex;
  flex-flow: column nowrap;
  gap: 8px;
}
#wrap main .main_view .right_contents .subscribe_description {
  margin-bottom: 30px;
}
#wrap main .main_view .right_contents .subscribe_description a {
  border-bottom: 1px solid #000;
}
#wrap main .main_view .right_contents .cart_wishlist_btn {
  margin-bottom: 30px;
}
#wrap main .main_view .right_contents .cart_wishlist_btn .cart .cart_btn {
  margin-bottom: 10px;
  background-color: #000;
  color: #fff;
  padding: 16px 28px;
  border-radius: 25px;
  text-align: center;
  width: 100%;
}
#wrap main .main_view .right_contents .cart_wishlist_btn .wishlist .wishlist_btn {
  padding: 16px 28px;
  border-radius: 25px;
  text-align: center;
  width: 100%;
  background-color: #fff;
}
#wrap main .main_view .right_contents .cart_wishlist_btn .wishlist .wishlist_btn .wish_heart path {
  fill: none;
  stroke: #000;
}
#wrap main .main_view .right_contents .cart_wishlist_btn .wishlist .wishlist_btn.active .wish_heart path {
  fill: #000;
  stroke: #000;
}
#wrap main .main_view .right_contents .product_description_list dt .desc_btn {
  display: flex;
  padding: 16px 0;
  width: 100%;
  position: relative;
}
#wrap main .main_view .right_contents .product_description_list dt .desc_btn:hover span::after {
  background: rgba(0, 0, 0, 0.1019607843);
  position: absolute;
  content: "";
  display: inline-block;
  width: 28px;
  height: 28px;
  right: 10px;
  top: 50%;
  transform: translateY(-50%);
  border-radius: 14px;
}
#wrap main .main_view .right_contents .product_description_list dt .desc_btn span {
  font-size: 1.188rem;
  font-weight: 600;
}
#wrap main .main_view .right_contents .product_description_list {
  width: 100%;
}
#wrap main .main_view .right_contents .product_description_list .desc_summary {
  border-top: 1px solid #6D7175;
}
#wrap main .main_view .right_contents .product_description_list .desc_summary dd {
  display: none;
}
#wrap main .main_view .right_contents .product_description_list .desc_summary .arrow {
  transform: translateX(560px);
}
#wrap main .main_view .right_contents .product_description_list .desc_benefits {
  border-top: 1px solid #6D7175;
}
#wrap main .main_view .right_contents .product_description_list .desc_benefits .arrow {
  transform: translateX(560px);
}
#wrap main .main_view .right_contents .product_description_list .desc_ingredients {
  border-top: 1px solid #6D7175;
}
#wrap main .main_view .right_contents .product_description_list .desc_ingredients .arrow {
  transform: translateX(525px);
}
#wrap main .main_view .right_contents .product_description_list .desc_how {
  border-top: 1px solid #6D7175;
  border-bottom: 1px solid #6D7175;
}
#wrap main .main_view .right_contents .product_description_list .desc_how .arrow {
  transform: translateX(535px);
}

/*# sourceMappingURL=main.css.map */
